body{
background: #F0E68C;

}


.logation{
	text-align: center;
	background-color: #1E90FF;
	height: 165px;
	width: 220px;
	margin-top: 20%;
	margin-left: 43%;
	border-radius: 12px;
	
}
.hello {
	
	text-align: center;
	background-color: #1E90FF;
	height: 165px;
	width: 220px;
	margin-top: 20%;
	margin-left: 43%;
	border-radius: 12px;
	padding-top: 10px;
}

